{% assign awards = site.data.data.awards %}
{% if awards %}
<section class="section awards-section">

  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-trophy fa-stack-1x fa-inverse"></i>
    </span>
    {{ awards.title }}
  </h2>

  {% if awards.intro %}
  <div class="intro">
    {{ awards.intro | markdownify }}
  </div><!--//intro-->
  {% endif %}

  <ol>
  {% for awards in awards.papers %}
  <div class="item">
    <li><div class="awards-title">{{ awards.title }}</div></li>
        <div class="awards-authors">{{ awards.authors }}</div>
        <div class="awards-conference">{{ awards.conference }}</div>
  </div><!--//item-->
  {% endfor %}
  </ol>

</section><!--//section-->
{% endif %}
