{% assign conference = site.data.data.conference %}
{% if conference %}
<section class="section conference-section">

  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-file-alt fa-stack-1x fa-inverse"></i>
    </span>
    {{ conference.title }}
  </h2>

  {% if conference.intro %}
  <div class="intro">
    {{ conference.intro | markdownify }}
  </div><!--//intro-->
  {% endif %}

  <ol>
  {% for conference in conference.conference %}
  <div class="item">
    <li><div class="conference-title">{{ conference.title }}</div></li>
        <div class="conference-authors">{{ conference.authors }}</div>
        <div class="conference-conference">{{ conference.conference }}</div>
  </div><!--//item-->
  {% endfor %}
  </ol>

</section><!--//section-->
{% endif %}
