
{% assign journal = site.data.data.journal %}
{% if journal %}
<section class="section domestic-section">

  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-file-alt fa-stack-1x fa-inverse"></i>
    </span>
    {{ domestic.title }}
  </h2>

  {% if domestic.intro %}
  <div class="intro">
    {{ domestic.intro | markdownify }}
  </div><!--//intro-->
  {% endif %}

  <ol>
  {% for domestic in domestic.papers %}
  <div class="item">
    <li><div class="domestic-title">{{ domestic.title }}</div></li>
        <div class="domestic-authors">{{ domestic.authors }}</div>
        <div class="domestic-journal">{{ domestic.journal }}</div>
  </div><!--//item-->
  {% endfor %}
  </ol>

</section><!--//section-->
{% endif %}
